ion-menu ion-content {
  --background: var(
    --ion-item-background,
    var(--ion-background-color, rgb(24, 25, 39))
  );
  user-select: none;
}
ion-icon{
  stroke: 1em;
}


.ionicon.s-ion-icon{
  stroke: white !important;;
}

.ionicon.s-ion-icon {
  /* background: white!important; */
}

.register-text {
  --color: white !important;
}

.role-label {
  color: rgba(var(--ion-text-color-rgb, 255, 255, 255)) !important;
}

.ion-menu-toggle.md {
  --background: rgb(158, 159, 176);
}

.ion-menu-split-container{
  min-width: 320px;
  max-width: 450px
}

ion-menu.md ion-content {
  
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  /* padding: 20px 0; */
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

#inbox-list {
  /* background: rgb(24, 25, 39) */
  padding-top: 0;
  border-radius: 5px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  margin-bottom: 18px;
  color: #757575;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  /* border-radius: 5px; */
  /* --background: var(--ion-item-background, var(--ion-background-color, rgb(24,25,39))); */
}

.menu-item-label {
  --ion-font-family: 'Maven Pro', sans-serif;
  font-size: 1.1rem !important;
  /* font-family: var(--ion-font-family, inherit); */
}

ion-menu.md ion-item.selected {
  /* --background: rgba(var(--ion-color-primary-rgb), 0.14); */
  /* color: var(--ion-color-primary); */
  background: #ffed87;

  color: rgb(24, 25, 39);
}

ion-menu.md ion-item.selected ion-icon {
  /* color: var(--ion-color-primary); */
  color: rgb(24, 25, 39);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

/* IOS CSS */

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

.ion-menu-toggle.ios {
  --background: rgb(158, 159, 176);
  justify-content: center;
}

ion-menu.ios ion-list {
  /* padding: 20px 0 0 0; */
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
  /* border-radius: 5px; */
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  /* color: #ffea00;; */
}

ion-menu.ios ion-item.selected {
  color: #cebd03;
}

ion-menu.ios ion-item .selected ion-icon {
  /* color: var(--ion-color-primary); */
  color: #ffea00;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  /* padding-left: 16px;
  padding-right: 16px; */
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

/* ion-item.selected {
  --color: var(--ion-color-primary);
} */

.logoHeader {
  display: flex;
  padding-bottom: 1rem;
  background: rgb(24, 25, 39);
}

.logoSize {
  width: 100px;
  /* height:100px; */
  background-position: 50%;
  /* padding-bottom: 1rem; */
}

.logoTitle.md {
  font-size: 1.5em;
  padding-top: 1em;
  padding-left: 0.em;
  color: white;
}

.logoTitle.ios {
  font-size: 1.5em;
  padding-top: 1em;
  padding-left: 0.5em;
  color: white;
}

.logoHeader.ios {
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background: rgb(24, 25, 39);
}

/* .menu-style-trevor{
  background-color: #33b8c1; } */
.ClientReferenceLight {
  background-color: #05FE01;
  background-color: #FE0182;
  background-color: #7C01FE;
  background-color: #FB03FE;
  background-color: #FFEA31;
  background-color: #04C4CC;
}

.Home,
.Article,
.Billboard,
.Setting,
.User,
.BlockExplorer,
.DAO {
  /* display: flex;
  align-items: center; */
 vertical-align:baseline;
}

.Home.selected,
.Article.selected,
.Billboard.selected,
.Setting.selected,
.User.selected,
.BlockExplorer.selected,
.DAO.selected {
  /* background-color: #ffea00bb; */
  /* background-color: rgb(203, 255, 203); */
  /* color: #181927 ; */
}

.toggles {
  /* display:flex; */
  /* justify-content: center; */
}

.logout-icon.md{
  padding-right: 0.5em;
  margin:0;
  color: rgb(24, 25, 39);
}

.logout-icon{
  padding-right: 0.5em;
  margin:0;
  color: rgb(24, 25, 39);
}


.logout-text {
  padding: 0;
  color: rgb(24, 25, 39);
  /* --color: rgb(24, 25, 39); */
}

ion-footer{
  background: rgb(24, 25, 39);
  display: flex;
  justify-content: center;
}

.footer-text{
  --ion-font-family: 'Maven Pro', sans-serif;
  font-size: 1.1rem !important;
  font-weight: 500;
  color: white;
}