.details{
    display: flex;
    justify-content: baseline;
    }
    
    .icon{
        border-radius: 100%;
        width:50px;
        height:50px;
    }
    

    .detail {
        overflow:hidden
    }

    .bigIcon {
        border: 3px solid black;
        border-radius: 100%;
        width:200px;
        height:200px;
    }

    .bigIconDiv {
        display: flex;
        justify-content:center;
    }

    .bigIconButton {
        position: absolute;
        bottom: 0px;
   
        border-radius: 100%;
    }

    .username {
        /* display:flex;
        justify-content: center; */
        text-align: center;
    }

    .detailButton{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    
