.content{
    padding:1rem;
}

.details{
display: flex;
justify-content: baseline;
}

.icon{
    border-radius: 100%;
    width:50px;
    height:50px;
}

.title {
    padding: 1rem;
    font-size: xx-large;
    color: orange;
}

.verticleButtons{
    display: flex;
    flex-direction: column;
}



